
body {/*
  background: -webkit-linear-gradient(to right, #67809F, #EEEEEE);
  background: -moz-linear-gradient(to right, #67809F, #EEEEEE);
  background: linear-gradient(to right, #67809F, #EEEEEE);
  */
  background: -webkit-linear-gradient(to right, #95A5A6, #DADFE1);
  background: -moz-linear-gradient(to right, #95A5A6, #DADFE1);
  background: linear-gradient(to right, #95A5A6, #DADFE1);
  color: #22313F;
  margin: 0;
}
/***UTILITIES**/
.section {
  padding: 88px 20px 88px 20px;
}

.is-center {
  text-align: center;
}
/**********TYPOGRAPHY*************/
 p { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h1 { font-size: 5.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
.emphasis {
  font-family: "Mr De Haviland", cursive;
  font-size: 48px;
}



/*********LINKS***********/
a {
  color: #E4F1FE;
  text-decoration: none;
}
a {
  color: #D24D57;
}

a:hover {
  color: #926069;
}
.nav a {
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
}
.nav a:hover {
  color: #926069;
}

.logo a {
  color: #fff;
}
/********NAVIGATION**************/
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index:9999;
  width: 100%;
  height: 50px;
  background-color: #67809F;
  vertical-align: middle;

}

.nav {
  background-color: #67809F;
  color: #6C7A89;
  text-align: right;
  padding: 10px;
  vertical-align: middle;
}

.logo {
  color: #fff;
	float: left;
	font-size: 16px;
	font-weight: 100;
	letter-spacing:.5px;;
  display: inline;
  padding-left: 30px;
  padding-bottom: 30px;
}

.primary-nav {
  font-size: 20px;
  letter-spacing: .5px;
  text-transform: uppercase;
  vertical-align: middle;
}

.nav li {
	display: inline-block;
	margin: 0 10px;
	vertical-align:bottom;
}
.nav li: last-child {
	margin-right: 0;
}

/***********SPLASH************/
.splash {
  margin-top: 10%;
}
.splash-info {
   padding-top: 20px;
   text-align: center;
 }
.primary {
  background-color: #D24D57;
  border: #D24D57;
  color: #fff;
}



/********ABOUT ME*************/

.about a {
  color: #D24D57;
}
.about a:hover {
  color: #DB0A5B;
}

.me-info {
  margin-top: 88px;
  padding-bottom:22px;
  letter-spacing: 5px;
  text-align: center;
}
.me-info img {
  border-radius: 50%;
  height: 150px;
    margin: -66px 0 22px 0;
    vertical-align: top;
}
.me-info li{
  display: inline-block;
  letter-spacing: 5px;
  vertical-align: bottom;
  padding-top: 15px;
  }

/***********Portfolio*************/

.about h5 {
  font-weight: bold;
}
.fade {
  border: 5px solid #dfe2e5;
}
.fade h4 {
  color: #926069;
}
.grid-block-container {
	float: left;
	width: 990px;
	margin: 20px 0 0 -30px;
}
.grid-block {
	position: relative;
	float: left;
	margin: 0 0 30px 30px;
}
.grid-block h4 {
	font-size: 1em;
	color: #333;
	background: #f5f5f5;
	margin: 0;
	padding: 10px;
	border: 1px solid #ddd;
}

.caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
  background: rgba(0, 0, 0, .75);
	width: 100%;
	height: 100%;
}
.caption h5, .caption a {
	color: #fff;
	margin: 20px;
}
.caption a {
 border: solid 2px;
 }
.caption h3 {
	margin: 20px 20px 10px;
}
.caption p {
	font-size: .75em;
  font-weight: bold;
	line-height: 1.5em;
	margin: 0 20px 15px;
  color: #fff;

}

.caption a.learn-more {
  text-align: center;
 	padding: 5px 10px;
	background: #;
	color: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-weight: bold;
	text-decoration: none;
}
/*
.caption a.learn-more:hover {
	background: #;
	color: #;
  */

.contact {
}
