/*ulitlites*/
body {
  font-family: "Poiret One", Arial, Helvetica, Geneva, sans-serif;
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-text-size-adjust: none;
  -moz-font-smoothing: antialiased;
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-text-size-adjust: none;
  -ms-font-smoothing: antialiased;
}
html {
  line-height: 1.75;
  color: #696969;
  background-color: #fff;
}
ul {
  list-style: none;
}
/*Links*/

a {
  color: #CF000F;
  text-decoration: none;
}
.is-center {
  text-align: center;
  padding-top: 30px;
}
.section-heading {
  line-height: 60px;
  padding: 50px 0;
  text-align: center;
  background-color: #FFF;
}
.section-heading h1 {
  font-family: "Mr De Haviland", cursive;
  font-size: 56px;
}
.section-heading h4 {
  text-transform: uppercase;
  margin-bottom: 5%;
}
.strong {
  font-size:2.5rem;
}

.container {
  overflow: hidden;
  /*  Prevents Flickering  */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

/*header overflows image*/
header {
  height: 60px;
  position: absolute;
}

/*logo Header*/
header h1 {
  color: #CF000F;
  text-align: left;
  font-size: 42px;
  line-height: 60px;
  padding-top: 8px;
  padding-left: 20px;
  font-family: "Mr De Haviland", cursive;
  margin: 0;
}

/*collapsed menu*/
.burger {
  position: absolute;
  float: left;
  padding: 10px;
  top: 4px;
  left: 10px;
  display: none;
}

.burger li {
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
  margin: 5px 0;
}

.burger.open li {
  background-color: #d9dde1;

}

nav {
  position: absolute;
  /*rests li on top of image*/
  top: 0;
  right: 5px;
}

nav li {
  float: left;
  display: inline-block;
}

nav li a {
  font-size: 1.4rem;
  color: #CF000F;
  padding: 24px 15px;
  display: block;
	margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
}

nav li a:hover {
  color: #000;
}



/*collapsed navigation styling begins*/

@media only screen and (max-width: 780px) {
  header {
    height: 60px;
    z-index: 2;
    background-color: #CF000F;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    /* starting point */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  header h1 {
    color: #ffffff;
    text-align: center;
    padding-left: 0;
    display: block;
  }
  .burger {
    display: block;
  }

  /*  Nav Drawer Layout  */
  nav {
    position: relative;
  }
  nav ul {
    height: 100%;
    overflow-y: auto;

  }
  nav li {
    display: block;
    float: none;
/*    overflow-y: auto;*/

  }
  nav li a {
    padding: 22px 25px;
    letter-spacing: 3px;
    font-size: 14px;
  }
  nav li a.logo {
    display: none;
  }
  nav li a.active {
    color: #fff;
    background-color: #141e23;
  }
  nav li a:hover {
    color: #fff;
    background-color: #19252c;
  }
  nav li:first-child a.active,
  nav li:first-child a:hover {
    border-radius: 10px 0 0 0;
  }
  .header-section {
    margin-top: 60px;
  }
  /* NAVIGATION ANNIMATION */
  nav {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 8px;

  	/* starting point */
  	opacity: .3;
  	-webkit-transform: translate3d(5%,0,0)scale(.97);
  	-moz-transform: translate3d(5%,0,0)scale(.97);
  	transform: translate3d(5%,0,0)scale(.97);
  }

  /*Nav Expanding Open Effect*/
  nav.open {
  	opacity: 1;

  	-webkit-transform: translate3d(0,0,0)scale(1);
  	-webkit-animation: slideIn .35s ease-in-out;

  	-moz-transform: translate3d(0,0,0)scale(1);
  	-moz-animation: slideIn .35s ease-in-out;

  	transform: translate3d(0,0,0)scale(1);
  	animation: slideIn .35s ease-in-out;
  }
  @-webkit-keyframes slideIn {
  	0%       {opacity: .3;
  				-webkit-transform: translate3d(5%,0,0)scale(.97);}
  	100%  {opacity: 1;
  				-webkit-transform: translate3d(0,0,0)scale(1);}
  }
  @-moz-keyframes slideIn {
  	0%      {opacity: .3;
  				-moz-transform: translate3d(5%,0,0)scale(.97);}
  	100%  {opacity: 1;
  				-moz-transform: translate3d(0,0,0)scale(1);}
  }
  @keyframes slideIn {
  	0%      {opacity: .3;
  				transform: translate3d(5%,0,0)scale(.97);}
  	100%  {opacity: 1;
  				transform: translate3d(0,0,0)scale(1);}
  }

  /*Nav Shrinking Closed Effect*/
  nav.close {
  	opacity: .3;

  	-webkit-transform: translate3d(5%,0,0)scale(.97);
  	-webkit-animation: slideOut .3s ease-in-out;

  	-moz-transform: translate3d(5%,0,0)scale(.97);
  	-moz-animation: slideOut .3s ease-in-out;

  	transform: translate3d(5%,0,0)scale(.97);
  	animation: slideOut .3s ease-in-out;
  }
  @-webkit-keyframes slideOut {
  	0%      {opacity: 1;
  				-webkit-transform: translate3d(0,0,0)scale(1);}
  	100%  {opacity: .3;
  				-webkit-transform: translate3d(5%,0,0)scale(.97);}
  }
  @-moz-keyframes slideOut {
  	0%      {opacity: 1;
  				-moz-transform: translate3d(0,0,0)scale(1);}
  	100%  {opacity: .3;
  				-moz-transform: translate3d(5%,0,0)scale(.97);}
  }
  @keyframes slideOut {
  	0%      {opacity: 1;
  				transform: translate3d(0,0,0)scale(1);}
  	100%  {opacity: .3;
  				transform: translate3d(5%,0,0)scale(.97);}
  }



  /* CONTENT ANNIMATION */
  .content {
  	/* starting point */
  	-webkit-transform: translate3d(0,0,0);
  	-moz-transform: translate3d(0,0,0);
  	transform: translate3d(0,0,0);
  	z-index: 1;
  }

  /*Content Sliding Open Effect*/
  header.open,
  .content.open
  {
  	-webkit-transform: translate3d(240px,0,0);
  	-webkit-animation: open .5s ease-in-out;

  	-moz-transform: translate3d(240px,0,0);
  	-moz-animation: open .5s ease-in-out;

  	transform: translate3d(240px,0,0);
  	animation: open .5s ease-in-out;
  }
  @-webkit-keyframes open {
  	0%      {-webkit-transform: translate3d(0,0,0);}
  	70%    {-webkit-transform: translate3d(260px,0,0);}
  	100%  {-webkit-transform: translate3d(240px,0,0);}
  }
  @-moz-keyframes open {
  	0%      {-moz-transform: translate3d(0,0,0);}
  	70%    {-moz-transform: translate3d(260px,0,0);}
  	100%  {-moz-transform: translate3d(240px,0,0);}
  }
  @keyframes open {
  	0%      {transform: translate3d(0,0,0);}
  	70%    {transform: translate3d(260px,0,0);}
  	100%  {transform: translate3d(240px,0,0);}
  }

  /*Content Sliding Closed Effect*/
  header.close,
  .content.close
  {
  	-webkit-transform: translate3d(0,0,0);
  	-webkit-animation: close .3s ease-in-out;

  	-moz-transform: translate3d(0,0,0);
  	-moz-animation: close .3s ease-in-out;

  	transform: translate3d(0,0,0);
  	animation: close .3s ease-in-out;
  }
  @-webkit-keyframes close {
  	0%      {-webkit-transform: translate3d(240px,0,0);}
  	100%  {-webkit-transform: translate3d(0,0,0);}
  }
  @-moz-keyframes close {
  	0%       {-moz-transform: translate3d(240px,0,0);}
  	100%  {-moz-transform: translate3d(0,0,0);}
  }
  @keyframes close {
  	0%       {transform: translate3d(240px,0,0);}
  	100%  {transform: translate3d(0,0,0);}
  }

  }
/* End collapsed navigation styling begins*/


/* My stuff*/

.splash {
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-color: #96281B;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: auto;
}
.splash-info {
  padding-top: 160px;
  line-height: 20px;
}
.primary {
  background-color: #CF000F;
  border: #D24D57;
  color: #fff;
  text-align: center;
}
.emphasis {
  color: #CF000F;
  font-size: 10rem;
  font-weight: bolder;
}

/*.portfolio,*/
.portfolio {
  padding: 50px 0;
  background-color: #fff;
 }
/** About Section**/
.fade h4 {
  color: #926069;
}
@media (min-width: 550px) {
.grid-block-container {
	width: 100%;
}
}

.grid-block {
	position: relative;
	float: left;
/*	margin: 0 0 30px 30px;*/
}
.grid-block h4 {
	font-size: 1em;
	color: #333;
	background: #f5f5f5;
	margin: 0;
	padding: 10px;
}
.caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
  background: rgba(0, 0, 0, .75);
	width: 100%;
	height: 100%;
}
.caption h5, .caption a {
	color: #fff;
	margin: 20px;
}
.caption a {
 border: solid 2px;
 }
.caption h3 {
	margin: 20px 20px 10px;
}
.caption p {
	font-size: .75em;
  font-weight: bold;
	line-height: 1.5em;
	margin: 0 20px 15px;
  color: #fff;
}
.caption a.learn-more {
  text-align: center;
 	padding: 5px 10px;
	background: #;
	color: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	font-weight: bold;
	text-decoration: none;
}

/* Contact Form*/
.form {
  background-color: #EF4836;
  padding: 50px 0;
  color: #FFF;
}
.form .button {
  color: #000;
  background-color: #fff;
}
.follow li {
  display: inline-block;
  letter-spacing: 5px;
}
/*about*/
.about {
  background-color: #fff;
}
.me-info {
  background: #AA937C;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  clear:both;
}
.me-info p {
  margin-left: 10%;
  color:#000;
  font-size: 1.6rem;
}
.bgc {
  background-color: #664C5B;
  height:440px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
 }
.bgc p {
  color:#FFF;
  font-size: 1.6rem;
  padding: 20px;
}
/*  Footer  */
.footer-section {
    background-color: #fff;
	  color: #22313F;
   	padding: 30px 10px ;
    text-align: center;
}
.footer-section span {
	color: #F22613;
}
